<footer id="footer" role="contentinfo" class="container-fluid py-2">
	<div class="row">
		<div class="col-md-2">
			<!-- Logo and Header-->
			<a href="/web/learning-center">
				<img alt="Liferay Logo" class="h-50"
					 src="[resources:lc-logo.svg]"
					 data-lfr-editable-type="image"
					 data-lfr-editable-id="liferay-logo"
				/>
				<h2 data-lfr-editable-type="rich-text"
					data-lfr-editable-id="liferay-header">
					Liferay
				</h2>
			</a>
		</div>
		<div class="col-md-8">
			<!-- Navigation -->
			<lfr-drop-zone></lfr-drop-zone>
		</div>
		<div class="col-md-2">
			<!-- Social Links -->
			<lfr-drop-zone></lfr-drop-zone>
		</div>
	</div>
</footer>